tests/conformance/schematron/core/22/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:let name="foo" value="0"/><sch:phase id="phase"><sch:let name="foo" value="1"/><sch:active pattern="pattern"/></sch:phase><sch:pattern id="pattern"><sch:rule context="/"><sch:assert test="$foo = 1"/></sch:rule></sch:pattern></sch:schema>