tests/conformance/schematron/core/41/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite" defaultPhase="phase"><sch:phase id="phase"><sch:active pattern="pass"/></sch:phase><sch:pattern id="fail"><sch:rule context="*"><sch:assert test="false()"/></sch:rule></sch:pattern><sch:pattern id="pass"><sch:rule context="*"><sch:assert test="true()"/></sch:rule></sch:pattern></sch:schema>