tests/conformance/schematron/core/08/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:phase id="phase"><sch:let name="foo" value="'bar'"/><sch:let name="foo" value="'bar'"/><sch:active pattern="pattern"/></sch:phase><sch:pattern id="pattern"><sch:rule context="/"><sch:assert test="true()"/></sch:rule></sch:pattern></sch:schema>