tests/conformance/schematron/core/16/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:pattern><sch:rule context="*"><sch:assert test="false()"><sch:value-of select="$variable"/></sch:assert></sch:rule></sch:pattern></sch:schema>