tests/conformance/schematron/core/10/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:let name="foobar" value="1"/><sch:pattern><sch:let name="foobar" value="1"/><sch:rule context="/"><sch:assert test="true()"/></sch:rule></sch:pattern><sch:pattern><sch:rule context="/"><sch:assert test="$foobar = 1"/></sch:rule></sch:pattern></sch:schema>