tests/conformance/schematron/core/43/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><xsl:key xmlns:xsl="http://www.w3.org/1999/XSL/Transform" name="key" match="*"><xsl:text>key</xsl:text></xsl:key><sch:pattern><sch:rule context="/"><sch:assert test="count(key('key', 'key')) = 1"/></sch:rule></sch:pattern></sch:schema>