tests/conformance/schematron/core/09/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:let name="foo" value="'bar'"/><sch:pattern><sch:let name="foo" value="'bar'"/><sch:rule context="/"><sch:assert test="true()"/></sch:rule></sch:pattern></sch:schema>