tests/conformance/schematron/core/27/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:let name="extension" value="'.xml'"/><sch:pattern documents="concat(/element/@secondary, $extension)"><sch:rule context="/"><sch:report test="root"/></sch:rule></sch:pattern></sch:schema>