tests/conformance/schematron/core/20/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:phase id="phase"><sch:let name="phase-var" value="1"/><sch:active pattern="pattern"/></sch:phase><sch:pattern id="pattern"><sch:rule context="*"><sch:let name="rule-var" value="$phase-var + 1"/><sch:assert test="$rule-var = 2"/></sch:rule></sch:pattern></sch:schema>