tests/conformance/schematron/core/38/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:let name="local-name" value="'document'"/><sch:pattern><sch:rule context="*[local-name() = $local-name]"><sch:assert test="true()"/></sch:rule><sch:rule context="*"><sch:assert test="false()"/></sch:rule></sch:pattern></sch:schema>