tests/conformance/schematron/core/24/schema.xml

<?xml version="1.0" encoding="utf-8"?><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite"><sch:ns prefix="html" uri="http://www.w3.org/1999/xhtml"/><sch:let name="foobar"><html:p xmlns:html="http://www.w3.org/1999/xhtml">This is a paragraph</html:p></sch:let><sch:pattern><sch:rule context="/"><sch:assert test="count(html:p) = 1"/></sch:rule></sch:pattern></sch:schema><sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite" queryBinding="xslt"><sch:ns prefix="html" uri="http://www.w3.org/1999/xhtml"/><sch:let name="foobar"><html:p xmlns:html="http://www.w3.org/1999/xhtml">This is a paragraph</html:p></sch:let><sch:pattern><sch:rule context="/"><sch:assert test="contains($foobar, 'paragraph')"/></sch:rule></sch:pattern></sch:schema>